{% extends 'master.html' %}
{% load jalali_tags %}
{% block title %} رزرو تنیس {% endblock %}
{% block contend %}
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div style="text-align: center" class="booking-cta">
                            <h1>صفحه مورد نظر یافت نشد !</h1>
                            <p>404 ERROR !
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}