{% extends 'master.html' %}
{% load jalali_tags %}
{% block title %} رزرو تنیس {% endblock %}
{% block contend %}
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>رزرو تایم تنیس</h1>
                            <p>متنی که بعدا اضافه خواهد شد 1 .
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        {% for object in object %}
                            <div class="list-group">
                                <div class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 text-center">{{ object.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links ">
                                {% if page_obj.has_previous %}
                                    <a style="color: white; font-size: 20px; "
                                       href="?page={{ page_obj.previous_page_number }}">قبل</a>
                                {% endif %}

                                <span class="current" style="color: darkblue; font-size: 20px; ">
                                      صفحه{{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                                </span>

                                {% if page_obj.has_next %}
                                    <a style="color: white; font-size: 20px; " href="?page={{ page_obj.next_page_number }}">بعد</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}