{% extends 'master.html' %}
{% load jalali_tags %}
{% block title %} رزرو تنیس {% endblock %}
{% block contend %}
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div style="text-align: center" class="booking-cta">
                            <h1>{{ text.titre1 }}</h1>
                            <p>{{ text.text1 }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <a style="display: block; width: 200px; height: 100px; line-height: 100px; text-align: right;
text-decoration: none; color: white; font-size: 40px; margin: 10px; float: left"
                           href="{% url 'reservation:adineh' %}" class="button blue">آدینه</a>
                        <a style="display: block; width: 200px; height: 100px; line-height: 200px; text-align: right;
text-decoration: none; color: white; font-size: 40px; margin: 20px; float: left"
                           href="{% url 'reservation:days' %}" class="button red">رزرو تایم</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}