{% extends 'master.html' %}
{% load jalali_tags %}
{% load static %}
{% block title %} رزرو تنیس {% endblock %}
{% block contend %}
    <style>

        @font-face {
            font-family: "yekan";
            src: url("{% static 'fonts/Yekan Boom.ttf' %}") format("truetype");
        }
        
        .font {
            font-family: yekan;
        }
    </style>
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div style="text-align: center" class="booking-cta">
                            <h1 class="font" style="text-align: right">{{ text.titre8 }}ssssssسسسسسسسسسس</h1>
                            <p class="font" style="text-align: right">{{ text.text8 }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        <div class="booking-form font">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p style="text-align: right">:تایم مورد نظر</p>
                                    <p style="text-align: center">{{ Tslot.date | to_jalali:'%y/%m/%d' }}<br>
                                    {{ Tslot.court }}<br>
                                    {{ Tslot.start_time }} - {{ Tslot.end_time }}</p>
                                </div>
                                <div class="form-group">
                                    <input name="user_name" style="text-align: right" class="form-control" type="text"
                                           placeholder="نام و نام خانوادگی خود را وارد کنید">
                                </div>
                                <div class="form-group">
                                    <input name="user_phone" style="text-align: right" class="form-control" type="text"
                                           placeholder="شماره موبایل خود را وارد کنید">
                                </div>
                                <div style="text-align: center" class="form-btn">
                                    <button class="submit-btn">صدور فاکتور و پرداخت</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}