{% extends 'master.html' %}
{% load jalali_tags %}
{% load static %}
{% block title %} پرتو تنیس {% endblock %}
{% block contend %}
    <style>

        @font-face {
            font-family: "yekan";
            src: url("{% static 'fonts/Yekan Boom.ttf' %}") format("truetype");
        }
        
        .font {
            font-family: yekan;
        }
        
        .page {
            color: floralwhite;
            font-size: 40px;
            text-align: right;
            list-style-type: none;
            padding: 10px;
            display: inline-block;
            margin: 5px;
            
            
        }
    </style>
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div style="text-align: center" class="booking-cta">
                            <h1 class="font">{{ text.titre4 }}</h1>
                            <p class="font"> {{ text.text4 }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7 font">
                        {% for object in times %}
                            <div class="list-group">
                                <a href="{% url 'reservation:reservation' object.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h3 class="mb-1 text-center">{{ object.date | to_jalali:'%y/%m/%d'}}|
                                            {{ object.court }}|
                                            {{ object.start_time }}-{{ object.end_time }}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        <div style="text-align: center; display: block; text-decoration: none">
                            <span class="font page">
                                {% if page_obj.has_previous %}
                                    <a style="color: #1b1b1b" href="?page={{ page_obj.previous_page_number }}">قبل</a>
                                {% endif %}
                        
                                <span class="current">
                                      صفحه{{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a style="color: #1b1b1b" href="?page={{ page_obj.next_page_number }}">بعد</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}