{% extends 'master.html' %}
{% load jalali_tags %}
{% load static %}
{% block title %} پرتو تنیس {% endblock %}
{% block contend %}
    <style>

        @font-face {
            font-family: "yekan";
            src: url("{% static 'fonts/Yekan Boom.ttf' %}") format("truetype");
        }

        .font {
            font-family: yekan;
        }

        .page {
            color: white;
            font-size: 40px;
            text-align: right;
            list-style-type: none;
            padding: 10px;
            display: inline-block;
            margin: 5px;


        }

        * {
            outline: none;
        }

        html,
        body {
            height: 100%;
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
            background-color: #3379b7;}

        #pag-cover {
            position: relative;
            margin: 0 auto;
            text-align: center;
            right: 0;
            left: 0;
            width: auto;
            color: #fff;
            line-height: 1;
            background-color: #3379b7;
            border-radius: 4px;
            box-shadow: 0 10px 20px #26418f;
            user-select: none;
        }

        .arr-cover {
            width: 1px;
            font-size: 20px;
            text-align: center;
        }

        .arrow {
            padding: 26px;
        }

        .arrow i {
            display: block;
        }

        #pg-links {
            display: table;
            width: 100%;
            vertical-align: center;
        }

        #pg-links .td {
            display: table-cell;
            vertical-align: middle;
        }

        #links {
            width: 216px;
            text-align: center;
            margin: 0 auto;
            overflow: hidden;
        }

        .pg-link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            line-height: 50px;
            width: 22px;
            float: left;
            color: #fff;
            font-size: 15px;
            text-align: center;
            padding: 26px 25px;
            background-color: transparent;
            transition: 0.2s ease background-color, 0.3s ease color;
        }

        .pg-link span {
            position: relative;
            z-index: 2;
        }

        .pg-link:hover {
            background-color: #2d59d6;
        }

        .pg-link.s-hide {
            color: rgba(255, 255, 255, 0);
        }

        #m-pg-link:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #1944bd;
            transition: 0.3s ease right, 0.3s ease left;
            z-index: 1;
        }

        #m-pg-link.left:after {
            right: 72px;
            left: -72px;
        }

    </style>
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div style="text-align: center" class="booking-cta">
                            <h1 class="font">{{ text.titre4 }}</h1>
                            <p class="font"> {{ text.text4 }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7 font">
                        {% for object in times %}
                            <div class="list-group">
                                <a href="{% url 'reservation:reservation' object.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h3 class="mb-1 text-center">{{ object.date | to_jalali:'%y/%m/%d' }}|
                                            {{ object.court }}|
                                            {{ object.start_time }}-{{ object.end_time }}</h3>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    <div id="pag-cover" >
                            <div id="pg-links">
                                <div class="td">
                                    <div id="links">
                                        {% if page_obj.number == page_obj.paginator.num_pages %}
                                            <a href="?page={{ page_obj.previous_page_number | add:'-1' }}"
                                               class="pg-link">
                                                <span>{{ page_obj.previous_page_number | add:'-1' }}</span>
                                            </a>
                                        {% endif %}
                                        {% if page_obj.has_previous %}
                                            <a href="?page={{ page_obj.previous_page_number }}" class="pg-link">
                                                <span>{{ page_obj.previous_page_number }}</span>
                                            </a>
                                        {% endif %}
                                        <div class="pg-link" id="m-pg-link"><span>{{ page_obj.number }}</span></div>
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}" class="pg-link">
                                                <span>{{ page_obj.next_page_number }}</span>
                                            </a>
                                        {% endif %}
                                        {% if page_obj.number == 1 %}
                                            <a href="?page={{ page_obj.next_page_number | add:1 }}" class="pg-link">
                                                <span>3</span>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}