{% extends 'master.html' %}
{% load jalali_tags %}
{% block title %} رزرو تنیس {% endblock %}
{% block contend %}
    <body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-md-push-5">
                        <div class="booking-cta">
                            <h1>رزرو تایم تنیس</h1>
                            <p>متنی که بعدا اضافه خواهد شد 1 .
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7">
                        {#                        {% for object in days %}#}
                        {#                            <a style="display: block; width: 100px; height: 50px; line-height: 50px; text-align: center;#}
                        {#text-decoration: none; color: white; font-size: 40px; margin: 20px; float: left"#}
                        {#                           href="#" class="button blue">{{ object }}</a>#}
                        {#                        {% endfor %}#}
                        {% for object in days %}
                            <div class="list-group">
                                <a href="#"
                                   class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 text-center">{{ object.date | to_jalali:'%y/%m/%d' }}<br>
                                            {{ object.court }}<br>
                                            {{ object.start_time }}-{{ object.end_time }}</h5>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}